#editor-container {
    position: absolute;
    top:  50px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: white;
}

#controls {
    padding: 5px;
}

#controls td {
    text-align: right;
}

#controls td + td {
    text-align: left;
}
.ace_status-indicator {
    color: gray;
    position: absolute;
    right: 0;
    border-left: 1px solid;
}

/* .ace_text-input {
    z-index: 10!important;
    opacity: 1!important;
    background: rgb(84, 0, 255)!important;
}*/
